
/*Personalización de plan-selection*/

$primary-color: hsl(223, 49%, 29%);
$button-radius: 5px;


.card {
    h1 {
        color: $primary-color;
        text-align: center;
        line-height: 80px;
        font-weight: 900;
    }

    h2 {
        font-size: 16px;
        color: $primary-color;
        margin-top: auto;
    }

    p {
        font-size: 14px;
        line-height: 1.6;
        color: $primary-color;
        text-align: center;
        font-style: normal;
        margin: auto;
      }

    .plan-selection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0;

        button {
            background-color: $primary-color;
            color: white;
            border: none;
            border-radius: $button-radius;
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color:hsl(from color h s l);
            }
        }

        a {
            color: $primary-color;
            text-decoration: underline;
        }
    }
}
/*ok*/